.header-text {
  display: flex;
  color: #21BA72;
  justify-content: center;

  &__logo {
    @keyframes rotation {
      100% { transform: rotate(360deg); } 
    } 

    content: url('../../../assets/atom.svg');
    width: 40px;
    height: 40px;
    margin-right: 5px;
    animation: rotation 20s linear infinite; 
  }
}
